/**
 * @name PlumCherry [ALPHA]
 * @author CerryTsuki
 * @description A bright, Y2K-lite inspired theme for Discord. Set your theme to default dark!
 */

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* these are CSS variables, and as such use CSS values. if something's broken, make sure you don't have any typos in your values. */
:root {
    /* custom variable defaults */

    /* fonts */
    --default-font: 					gg sans, sans-serif;
    --big-font: 						Barlow Condensed, Noto Sans JP, gg sans, sans-serif;
    --weight-regular:					400;
    --weight-bold:						700;
    --weight-thin:						200;

    /* colors */
    --main-color:       				rgb(228, 33, 98); /* pick a nice bright color! */
    --alt-color:        				rgb(49, 7, 163); /* preferably darker than main-color */
    --success-color:    				rgb(33, 228, 98);
    --danger-color:     				rgb(245, 164, 15);
    
    --bg-color:         				rgba(20, 10, 25, 0.7);
    --bg-color-opaque:  				rgba(20, 10, 25, 0.975);
    --bg-color-mention:                 rgba(90, 50, 20, 0.7);
    --bg-color-replying:                rgba(90, 20, 50, 0.7);
    --bg-color-success:                 rgba(16, 110, 66, 0.7);

    --hover-color: 						rgb(255, 255, 255); 
    --active-color:     				rgba(255, 255, 255, 1);
    --inactive-color:   				rgb(255, 255, 255);

    --txt-color:        				rgba(255, 255, 255, 1);
    --txt-color-alt:    				rgb(193, 185, 216); /* unused */
    --txt-color-grey:   				rgb(190, 145, 190);
    --link-color:       				rgb(0, 0, 255); /* unused */

    --shadow-color:        			    rgb(0, 0, 0);
    --shadow-color-active: 				rgb(255, 255, 255);

    /* font adjustments */
    --username-offset:      			0px;
    --username-fontsize:    			24px;
    --username-weight:      			var(--weight-bold);

    --date-y-offset:        		    -2px;
    --date-x-offset:   					0px;
    --date-fontsize:        			12px;
    --date-weight:          			var(--weight-regular);

    /* do you want headers to be italicized?*/
    --cerry-italic:         italic;

    /* make this variable empty if you want fonts to be dark when on lighter backgrounds*/
    --override-dark-text:       var(--txt-color); /* TODO may delete this if too niche */

    /* element adjustments */
        /* username box in messages */
        --username-box-bg:          	var(--main-color);
        --username-box-shadow:      	var(--cerry-boxsh);
        --avatar-border:            	3px solid var(--main-color);
        --avatar-size:              	56px;
        --avatar-bg:                    var(--main-color);
            /* deprecated
            --username-box-width:      	700px;
            --username-box-txtoffset:   	24px; 
            */


    /* animation speed for some interactions */
    --default-transition:      		    0.2s;


	/* background */
    --backdrop:            			    linear-gradient(135deg, rgba(187,60,123,1) 0%, rgba(47,19,126,1) 100%);
    --backdrop-position:    			center;
    --backdrop-attachment:  			fixed;
    --backdrop-repeat:      			repeat;
    --backdrop-size:                    auto;
    --backdrop-filter:      			blur(2px); /* unused for now */

    --default-radius:       			20px;

    --br-l: 							var(--default-radius) 0 0 var(--default-radius);
    --br-r: 							0 var(--default-radius) var(--default-radius) 0;
    --br-t: 							var(--default-radius) var(--default-radius) 0 0;
    --br-b: 							0 0 var(--default-radius) var(--default-radius);

	/* other variables */
    --txtshadow:      					1px 1px var(--shadow-color), 
										-1px 1px var(--shadow-color), 
										-1px -1px var(--shadow-color), 
										1px -1px var(--shadow-color), 
										2px 2px var(--shadow-color), 
										3px 3px var(--shadow-color);
										
    --txtshadow-tiny: 					1px 1px var(--shadow-color), 
										-1px 1px var(--shadow-color), 
										-1px -1px var(--shadow-color), 
										1px -1px var(--shadow-color),
										2px 2px var(--shadow-color);
										
    --dropshadow: 						drop-shadow(2px 2px  var(--shadow-color));

    --cerry-boxsh-width:                2px;
    --cerry-boxsh: 						var(--cerry-boxsh-width) var(--cerry-boxsh-width) var(--shadow-color);
    --cerry-boxsh-hover: 				var(--cerry-boxsh-width) var(--cerry-boxsh-width) var(--shadow-color-active); 

    --cerry-border-width:               1px;
    --cerry-border: 					var(--cerry-border-width) solid var(--shadow-color);
    --cerry-border-hover: 				var(--cerry-border-width) solid var(--shadow-color-active);

    --cerry-divider:					1px solid var(--alt-color);

    --popout-boxsh:                     4px 4px 4px rgba(0, 0, 0, 0.5);


    /* discord defaults override (changing these might break the theme)*/
    --background-secondary:var(--bg-color); --bg-overlay-chat:transparent; --background-secondary-alt:var(--bg-color);
    --interactive-hover: var(--hover-color); --interactive-active: var(--active-color); --interactive-normal:var(--inactive-color);
    --invisible : rgba(0,0,0,0);
    --brand-experiment:var(--main-color);
    --input-background:var(--bg-color);
    --scrollbar-auto-scrollbar-color-thumb: var(--main-color); --scrollbar-auto-thumb:var(--main-color); --scrollbar-thin-thumb:var(--main-color);
    --scrollbar-auto-scrollbar-color-track:var(--bg-color); --scrollbar-auto-track:var(--bg-color); --scrollbar-thin-track:var(--bg-color);
    --info-warning-foreground:var(--danger-color);
    --channels-default:var(--txt-color-grey);
}

/* WARNING VERY SCARY BAD CSS FORMATTING AND TERRIBLE CSS PRACTICES BELOW. EDIT AT YOUR OWN RISK */

body,button,input,select,textarea,::placeholder{
    font-family:var(--default-font);
    color:var(--txt-color);
}

/* background */
.bg_d4b6c5 {
    background:var(--backdrop);
    background-position: var(--backdrop-position);
    background-attachment: var(--backdrop-attachment);
    background-size: var(--backdrop-size);
    background-repeat: var(--backdrop-repeat);
}
/* app header/dragzone */
.typeWindows_e41dab {
} .withFrame__5e49e {margin-top:0px; padding-top:4px;}

/* logo */
.wordmarkWindows_ffbc5e {
}

/* discord headers */
.heading-xl-extrabold__8ed5c {
    font-family: var(--big-font);
    text-shadow: var(--txtshadow);
    font-style: var(--cerry-italic);

}




/* unread messages prompt */
.newMessagesBar__8b272 {
    top:4px;
    width:90%;
    margin:auto;
    border-radius: var(--default-radius);
    background:var(--main-color);
}
/* unread blip */
.unreadImportant_e8bb44 {background-color:var(--main-color);}

/* server name? not sure */
.header__77c95{
    font-family:var(--big-font);
    text-shadow: var(--txtshadow);
}

/* tooltip popout */
.theme-dark .listItemTooltip_e19493, .theme-light .listItemTooltip_e19493, .theme-dark .tooltipPrimary__51b23, .theme-light .tooltipPrimary__51b23 {
    border-radius:var(--default-radius);
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh), var(--popout-boxsh);
    background:var(--alt-color);
}
.theme-dark .tooltipPrimary__51b23 .tooltipPointer_f7411c, .theme-light .tooltipPrimary__51b23 .tooltipPointer_f7411c {
    border-top-color:var(--alt-color);
    border-width:10px;
    margin-top:-10px;
}
/*
=======================
UNIVERSAL / UNIQUE
=======================
*/

/* options popout */
.menu__088f7 {
    background:var(--bg-color-opaque);
    border-radius:var(--default-radius);
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
}

/* 
======================
SERVER BROWSER / GUILDS
======================
*/
.guilds_a4d4d9 {
    margin:4px 4px 8px 8px;
    border-radius: var(--default-radius);
    padding:8px 0px;
    background:var(--bg-color);
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    width:64px;
}

/* guild instance */
.listItem_c96c45 {
    margin:0px 0px 8px;
    width:64px;
}

/*discord icon on hover */
/*
.item_f9d377 {
    background-color:var(--main-color);
}
*/



/*
================================
CHAT STUFF
================================
*/

/* chat wrapper */
.content__01e65 {
    margin:4px 4px 8px;
} .content__01e65:before {content: ""; box-shadow: var(--invisible);} /* hides a weird bar on top of the chat boxes */

/* main chat container */
.chatContent_f087cb {
    margin:0px 4px;
    
}

/*
.scroller_e412fe {
    background:var(--bg-color); 
    border-radius:var(--default-radius);
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    height:calc(100% - 18px);
}
*/


/* divider (date) */
.divider__855e3 {border-bottom:0.5 solid var(--main-color);}
.divider_d5deea .content_fc5f50  {
    color:white; 
    font-family:var(--big-font);
    text-shadow:var(--txtshadow);
    font-size:1.2em;
    font-weight:var(--weight-bold);
    font-style: var(--cerry-italic);
    justify-content: flex-start;
    box-shadow: var(--cerry-boxsh);;
    width:100%;
    margin: 0 0 0 16px;

    text-indent:6px;

    border-radius: var(--default-radius) 0 0 var(--default-radius);
    background:var(--alt-color);
}

/*unread bar in chat */
.divider_d5deea .isUnread_de09f5 {
    height:2px;
}


/*==============
MESSAGES
=============*/

/* messages */
.message_d5deea {
    background: var(--bg-color); 
    margin-left:32px;
    border:var(--cerry-border);
    border-bottom:0px; border-top:0px;
    box-shadow: var(--cerry-boxsh-width) 0px var(--shadow-color);
        
} .cozy_ec86aa.wrapper_ec86aa {
    margin-right:16px; /* --message-offset-right */
    padding-left:36px;
    overflow:visible;
    padding-right:0;
    padding-bottom:0px;
}
.theme-dark.mouse-mode.full-motion .message_d5deea:hover, .theme-light.mouse-mode.full-motion .message_d5deea:hover { /* TODO this only works when the window isn't focused */
    background:var(--bg-color-opaque);
}

.messageListItem_d5deea .groupStart_d5deea, .backgroundFlash_d5deea.groupStart_d5deea, .quotedChatMessage_d0497b .groupStart_d5deea {
	border-radius: var(--br-t);
    
}

.cozy_ec86aa .contents_ec86aa .messageContent_ec86aa {
    margin-top:2px;
}
/* non-message containers (images, embeds, etc) */
.container_b558d0 {
    margin-top:4px;
}


/* stolen from discord+ OOPS */

/* single message */
.messageListItem_d5deea:has(+ .messageListItem_d5deea .avatar_ec86aa,  + .backgroundFlash_d5deea .avatar_ec86aa, + .scrollerSpacer_e2e187, + .divider_d5deea ) .groupStart_d5deea:has(.avatar_ec86aa), 
.quotedChatMessage_d5deea:has(+ .messageListItem_d5deea .groupStart_d5deea, > div) .groupStart_d5deea:has(.avatar_ec86aa),
.backgroundFlash_d5deea:has(+ .messageListItem_d5deea .avatar_ec86aa, + .backgroundFlash_d5deea .avatar_ec86aa, + .divider_d5deea) {
	border-radius:var(--default-radius);
        box-shadow: var(--cerry-boxsh-width) var(--cerry-boxsh-width) var(--shadow-color);
	}
/* top message */
.groupStart_d5deea,
.divider_d5deea + .messageListItem_d5deea .message_d5deea, 
.divider_d5deea + .backgroundFlash_d5deea .message_d5deea {
	border-radius:var(--br-t);
    border-top:var(--cerry-border);
    box-shadow: var(--cerry-boxsh-width) 0px var(--shadow-color);
} .groupStart_d5deea .contents_ec86aa .messageContent_ec86aa {padding-top:4px;}
/* bottom message */
.messageListItem_d5deea:has(+ .messageListItem_d5deea .groupStart_d5deea, + .divider_d5deea, + .scrollerSpacer_e2e187, + .backgroundFlash_d5deea .groupStart_d5deea) .message_d5deea,
.backgroundFlash_d5deea:has(+ .messageListItem_d5deea .groupStart_d5deea, + .divider_d5deea, + .scrollerSpacer_e2e187, + .backgroundFlash_d5deea .groupStart_d5deea) .message_d5deea {
	border-radius:var(--br-b);
    box-shadow: var(--cerry-boxsh-width) 0px var(--shadow-color), 0px var(--cerry-boxsh-width) var(--shadow-color);
    padding-bottom:8px;
    border-bottom:var(--cerry-border);

}
/* single message? */
.messageListItem_d5deea:has( + .messageListItem_d5deea .groupStart_d5deea, + .divider_d5deea, + .scrollerSpacer__6b1b6, + .backgroundFlash_d5deea .groupStart_d5deea) .groupStart_d5deea,
.divider_d5deea + .messageListItem_d5deea:has(+ .messageListItem_d5deea .groupStart_d5deea) .message_d5deea,
.divider_d5deea + .backgroundFlash_d5deea:has(+ .messageListItem_d5deea .groupStart_d5deea) .message_d5deea,
.backgroundFlash_d5deea:has( + .messageListItem_d5deea .groupStart_d5deea, + .divider_d5deea, + .scrollerSpacer__6b1b6, + .backgroundFlash_d5deea .groupStart_d5deea) .groupStart_d5deea {
	border-radius:var(--default-radius);
    box-shadow: 2px 2px var(--shadow-color);
    border-top:var(--cerry-border);
}
/* fix for when a message is focused */
.backgroundFlash_d5deea {
    border:0px solid transparent !important;
    box-shadow:0px 0px transparent !important;
}
/* reply */
/* TODO change this for each message group spacing option */
.messageListItem_d5deea:has(.repliedMessage_ec86aa ){
    margin-top:32px;
}
/* .cozy_f5c119 */ .repliedMessage_ec86aa { margin-top:-28px; padding-bottom:2px;}

/* that bar thing next to replies */
.repliedMessage_ec86aa:before {
    left: -38px;
    bottom:6px;
    border-color:var(--main-color);
}

/* system message specifics, currently call only */
.systemMessage_d5deea  {
    background: var(--alt-color); border-color:var(--alt-color) !important; 
    padding-left:var(--avatar-size) !important;
    margin-left:0 !important;
}


/* borders for selected reply messages or where you were mentioned*/
.mentioned_d5deea:before {background:transparent;}
.mentioned_d5deea:not(.systemMessage_d5deea ) {border-color:var(--danger-color) !important; background:var(--bg-color-mention);}
.replying_d5deea :before {background:transparent;}
.replying_d5deea  {border-color:var(--main-color) !important;  background:var(--bg-color-replying);}


/* chat avatar */
img.clickable_ec86aa.avatar_ec86aa {
    left:-32px;
    width:56px;
    height:56px;
    border:var(--avatar-border);
    background:var(--avatar-bg);
    border-radius:50%;
    margin-top:0px;
    position: absolute;
}
/* avatar nitro thingy decoration frame */
.avatarDecoration__8a0c2 {
    left:-41px;
    top:-1px;
    width:64px;
    height:64px;
}
/* container for username + timestamp */
.cozy_ec86aa .header_ec86aa {
    background: var(--username-box-bg);
    padding-left:32px;
    padding-right:60px;
    right:32px;
    min-width:100%;
    text-indent:0px;
    border-radius:var(--br-r);
    box-shadow:var(--username-box-shadow);  
    padding-bottom:2px; padding-top:2px;
    margin-top:-4px;
} 
.cozy_ec86aa .headerText_ec86aa {
    margin-left:-4px;
}
/* vencord message logger style override */
.content_c49869 .messagelogger-deleted {
     filter :brightness(0.5) !important;
     background-color:transparent !important;
}

/* username in messages */
.username_ec86aa {
    font-family:var(--big-font);
    text-shadow: var(--txtshadow);
    font-size:var(--username-fontsize);
    font-weight:var(--username-weight);
    font-style: var(--cerry-italic);
    line-height:1em;
    overflow:hidden;
    top:var(--username-offset);
    width:auto;
    margin-right:8px;
    text-indent:32px;
}
/* tag after username */
.botText_a02df3 {
    font-family:var(--big-font);
    font-size:12px;
    font-weight:var(--weight-bold);
    font-style: var(--cerry-italic);
    text-transform: uppercase;

}
/* tag after username container*/
.rem_a02df3.botTag_a02df3 {
    margin-top:4px;
}

/* timestamp stylization */
.cozy_ec86aa .timestamp_ec86aa {
    font-family:var(--big-font);
    font-style: var(--cerry-italic);
    font-size: var(--date-fontsize);
    text-shadow: var(--txtshadow-tiny);
    text-transform: uppercase;
    padding-top:0;
    padding-left:0px; text-indent: 0px;;
}
.cozy_ec86aa .header_ec86aa .timestamp_ec86aa {
    position: relative;     
    top:-3px;
    font-size:14px;
}
.cozy_ec86aa .timestamp_ec86aa.alt_ec86aa  {
    left:0px;
    top:8px;
    width:32px;
    text-align: right;
    text-overflow: "";
    line-height:0.8em;
    text-shadow: var(--txtshadow-tiny);
    
}

/* reply message contents */
.repliedMessage_ec86aa .repliedTextPreview__1a8a4 {
    max-height:1.5em;
    overflow:visible;
    padding-bottom:2px;
}
/* reply username */
.repliedMessage_ec86aa .username_ec86aa {
    opacity:100;
    text-shadow:var(--txtshadow-tiny);
    overflow:visible;
    text-indent:0px;
    /*
    
    padding-left:21px;
    margin-left:-21px;
    background-color:var(--main-color);
    border:1px solid var(--main-color);
    
    border-radius: var(--default-radius);
    */
}
/* reply avatar */
.replyAvatar_ec86aa  {
    z-index:1;
    border:1px solid var(--main-color);
}
/* reply message */
.repliedMessage_ec86aa .repliedTextPreview__1a8a4 .repliedTextContent_b12fe1, .threadMessageAccessory_ef0459 .threadMessageAccessoryPreview__58ff3 .threadMessageAccessoryContent__42312 {
    
}
/* chat timestamp */
.message_d5deea .timestamp_ec86aa {
    color:white;
    text-shadow:var(--txtshadow);
    font-weight: var(--date-weight);
}

/* vencord only - reply timestamp */
.timestamp_ec86aa.latin24CompactTimeStamp_ec86aa {width:auto;}

/* chat buttons that show up when you hover on them */
.buttonContainer_ef319f {
    top:0px;
    right:0px;
}
.button_ef319f, .button_ef319f:hover  {
    background-color:var(--main-color);
}
.wrapper_ef319f {
       border-radius:var(--default-radius) var(--default-radius) var(--default-radius) 0px ;
       box-shadow:var(--cerry-boxsh);
       border:var(--cerry-border);
}
.full-motion .wrapper_ef319f:hover {
    box-shadow:2px 2px #000;
}
/* button icons */
.wrapper_ef319f .button_ef319f {
    color:white;
}
.wrapper_ef319f .button_ef319f:hover {
    background:var(--hover-color);
    color:var(--main-color);
}
/* reaction/img? container*/
.container__62863 {
    margin-top:4px;
}

/* reactions */
.reaction_ec6b19 {border:var(--cerry-border); box-shadow:var(--cerry-boxsh); background-color:var(--alt-color); font-family:var(--big-font);  text-shadow: var(--txtshadow-tiny); color:var(--txt-color);}
    .reaction_ec6b19:hover {border:var(--cerry-border-hover); box-shadow:var(--cerry-boxsh-hover); background-color:var(--main-color)}
.reaction_ec6b19.reactionMe_ec6b19{ border:var(--cerry-border); color:var(--alt-color); background-color:var(--main-color)}
    .reaction_ec6b19.reactionMe_ec6b19:hover{border:var(--cerry-border-hover); box-shadow:var(--cerry-boxsh-hover); background-color:var(--main-color)}
.reactionCount__2c34d {color:white; overflow:visible;}
.reaction_ec6b19 .emoji {filter:drop-shadow(0px 0px 2px #000);}


/* first channel, top of the chat, server name and such */
.container_bb67ae {
    margin:0;
    padding:0;
    align-items:flex-start;
} .titleName__89d3b, .header_abc647 {
    text-align:left;
    font-family:var(--big-font);
    font-style: var(--cerry-italic);
    text-shadow:var(--txtshadow);
} 
/* icon at the top of the channel */
.emptyChannelIcon_d45c50  {
    background-color:var(--alt-color);
    border: var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
}
.description__51014 {color:var(--txt-color-grey);}
.buttonContainer__36b61 button {background:var(--alt-color); padding:4px 8px; border-radius: var(--default-radius); border:var(--cerry-border); box-shadow:var(--cerry-boxsh); transition:0.3s}
.buttonContainer__36b61 button:hover {background:var(--main-color); border:var(--cerry-border-hover); box-shadow:var(--cerry-boxsh-hover); color:white;}
/* ===============
MESSAGE EMBEDS
================= */
/* audio player */
div .wrapperAudio_f316dd  {
    background:var(--bg-color);
    border-radius: var(--default-radius);
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
}
.container__62863 {overflow: visible;}
/* twitter (generic?) */ /* TODO check if this is actually generic */  
.embedFull_ad0b71  {
    border-radius:var(--default-radius);
    background:var(--bg-color);
    border-right:var(--cerry-border) !important;
    border-top:var(--cerry-border) !important;
    border-bottom:var(--cerry-border) !important;
    border-left:2px solid;
    box-shadow: var(--cerry-boxsh);
}





/* ==================
INPUT 
=====================*/
.theme-dark .form_a7d72e:before{background:transparent; height:0; width:0; margin:0; padding:0;} /*removes the weird black thingy near the text input */

.form_a7d72e {
    padding:0;
}

/* "you're viewing older messages" bar */
.jumpToPresentBar_cf58b5  {
    border-radius:var(--default-radius);
    margin-bottom:12px;
    padding-bottom:0;
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    background:var(--alt-color);
    transition: var(--default-transition);
} .jumpToPresentBar_cf58b5:hover {border:var(--cerry-border-hover); box-shadow: var(--cerry-boxsh-hover); background:var(--main-color);}
.jumpToPresentBar_cf58b5:active {
    margin-bottom:24px;
    padding-bottom:0;
}

/* reply bar */
.clipContainer_ab9cf6 {overflow:visible;}
.attachedBars_c1606a { background:transparent; width:calc(100% - (var(--default-radius) * 2)); margin:auto;}
.replyBar_ed6afc {
    border:var(--cerry-border);
    border-radius: var(--default-radius) var(--default-radius) 0 0;
    box-shadow: var(--cerry-boxsh);
    background:var(--bg-color);
    margin-bottom:-1px;
}

/* discord overrides */
.channelTextArea_d0696b, .channelTextArea_a7d72 { background-color:transparent;}
.theme-dark .form_a7d72e:before, .theme-dark .form_a7d72e:after, .theme-light .form_a7d72e:before, .theme-light .form_a7d72e:after{background:transparent;}

.themedBackground_d0696b {background:var(--alt-color); border-radius: var(--default-radius); border:var(--cerry-border); box-shadow: var(--cerry-boxsh);}
/* placeholder text before you start typing */
.placeholder_a552a6 {
    font-family:var(--big-font) !important;
    color:var(--txt-color-grey);
    font-weight:var(--weight-regular);
    font-style: var(--cerry-italic);
}







/*
====================
TOP BAR
====================
*/

/* top bar container */
.subtitleContainer_a7d72e {
    margin:0px ;
    background:transparent ;
    
}
/* top bar container #2 */
.container_e44302 {
    --__header-bar-background: transparent;
}

/* channel name wrapper */
.children_e44302 {
    border-radius: var(--br-l);
    background:var(--bg-color);

    margin: 0;
    box-sizing: content-box;
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
}


/* channel title */
.titleWrapper_e44302  {
	font-family:var(--big-font);
    text-shadow: var(--txtshadow);

}
.container_e44302 .title_e44302{
    color:#fff;
    font-family:var(--big-font);
    text-shadow: var(--txtshadow);
    text-transform: uppercase;
    font-size:32px;
    font-style: var(--cerry-italic);
    padding:4px;
    font-weight:var(--weight-bold);
} .icon_e44302 {color:var(--main-color)}

/* user dm avatar */
.avatar__7c789 {
    box-sizing: content-box; 
    padding:0px; margin:0px 4px 0px 12px;
}

/*toolbar */
.toolbar_e44302{ position:relative; margin-right:8px;}
.toolbar_e44302 .iconWrapper_e44302, .recentsIcon_a585d7 .iconWrapper_e44302, anchor_af404b .iconWrapper_e44302 {
    background:var(--alt-color);
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    min-height:50px;
    padding:12px 12px;
    margin:0px 1px;
    width:min-50px;
    transition:var(--default-transition);
    
} .clickable_e44302 .icon_e44302, .clickable_e44302 svg {color:var(--txt-color)}
.toolbar_e44302 .iconWrapper_e44302:hover {
    border:var(--cerry-border-hover);
    box-shadow: var(--cerry-boxsh-hover);
    background:var(--main-color);
} .iconWrapper_e44302:hover .icon_e44302, .iconWrapper_e44302:hover svg {color:var(--txt-color)}
.iconWrapper_e44302 > svg {position:relative; top:1px; transition:0.3s}

a.anchor_af404b .iconWrapper_e44302  {border-radius:  0px var(--default-radius) var(--default-radius) 0px ; padding-right:12px;} /* show user profile*/
/* .recentsIcon_a585d7 > .iconWrapper_e44302 {border-radius: var(--default-radius) 0px 0px var(--default-radius) ; padding-left:12px;} */
.anchor_c8ddc0  .iconWrapper_e44302 {border-radius:  0px var(--default-radius) var(--default-radius) 0px ; padding-right:12px;} /* show user profile*/
/* active button */
/*
.selected__1fc53 .icon_ae0b42 {
    stroke:var(--shadow-color);
    filter:var(--dropshadow);
} */ 
.toolbar_e44302 > .selected__1fc53 {background:var(--main-color); border:1px solid black; box-sizing: border-box;}

/* inbox icon red dot thingy */
.iconBadge__20a6b {right:8px; bottom:6px;}


/* what is this for again? */
.inner__4350a {max-width:80%}
.titleName__89d3b > p:nth-child(odd) {font-size:24px; line-height:0.9em; text-indent:10px;}
.titleName__89d3b > p:nth-child(even) {font-size:72px; line-height:0.9em;}
.subtitle__8dcdc.noChildren_b775d8 {text-align:left; font-size:16px;}

/* ==============================
INBOX POPOUT
=================================*/
#popout_5857 {
        max-height:900px !important;
}
.messagesPopoutWrap__10dd1 {
    background:var(--bg-color-opaque); border-radius: var(--default-radius);
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    max-height:950px !important;
}
/* message container */
.container__7c2c1 {

}

/* 
=======================================================================
SERVER SIDEBAR
=======================================================================
*/

/* container */
.platform-win .sidebar_a4d4d9 {
    padding:0px 4px;
    background:transparent;

    overflow:hidden;
    margin:0px 8px; /* VAR margindefault */
    
} 
/* server channel list */
.container_ee69e0 {
    background: var(--bg-color); 
    border-radius:var(--default-radius);
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    padding:0px;
    margin: 0px 0px 8px 0px;
}


/* server bg */
.animatedContainer_fd6364 {
    border-radius:var(--default-radius);
    overflow:hidden;
}
/* server name */
.header_fd6364 h2 {
    font-family: var(--big-font);
    font-style: var(--cerry-italic);
    font-size:26px;
    width:100%;
    text-shadow: var(--txtshadow);
} 


/* container for server name, includes icons and dropdown arrow */
.primaryInfo_fd6364 .headerContent_fd6364 {
      filter: drop-shadow(1px 1px var(--shadow-color));  
}

/* sidebar channels */
.containerDefault_f6f816, .link_d8bfb3 {
    font-family: var(--big-font);
    font-style: var(--cerry-italic);
    font-size:20px;
    font-weight:var(--weight-regular);
    text-transform: uppercase;
    text-indent:2px;
    color:var(--txt-color-grey);
}
/* channel browser - icon next to channel name */
.modeUnreadImportant_d8bfb3 .icon_d8bfb3 {color:var(--main-color);}


/* unread channel name */
.wrapper_d8bfb3.modeUnreadImportant_d8bfb3 a {
    font-weight:600;
    color:white;
    text-shadow: var(--txtshadow);
    /* overflow:visible; */ /* TODO fix the cropped shadows on unread text */
}

/* selected channel */
.modeSelected_d8bfb3  {
    background-color:var(--main-color);
    border-radius: var(--default-radius);
} 
.selected_f6f816 a {background:transparent}
.wrapper_d8bfb3:hover .link_d8bfb3, .modeSelected_d8bfb3 .link_d8bfb3 {background: var(--main-color); border-radius: var(--default-radius); color:var(--hover-color)}
.modeSelected_d8bfb3 .icon_d8bfb3 {color:var(--txt-color)}
.wrapper_d8bfb3:hover .link_d8bfb3 .icon_d8bfb3 {color:var(--txt-color);}


/* server channel categories */
.sidebar_a4d4d9 .containerDefault_a08117 .wrapper_a08117  .mainContent_a08117 h3 {
    font-family: var(--big-font);
    font-style: var(--cerry-italic);
    font-weight:1000;
    font-size:14px;
    position:absolute;
    bottom:2px;
    border-bottom: 2px solid var(--main-color);
    color:white;
    opacity:100;
    text-shadow:var(--txtshadow-tiny);
}

/*
=======================
DM SIDEBAR
=======================
*/

.privateChannels__9b518 {
    margin-bottom:2px;
    padding-right:2px;
    padding-bottom:2px;
    background:transparent;
} .scroller__89969 {
    border-radius:var(--default-radius);
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    background:var(--bg-color);}
/* search bar */
.searchBar__621ec { padding:0px 0px; height:60px; box-shadow:0px 0px ;}
 .searchBar__621ec .searchBarComponent__8f95f {
    border-radius:var(--default-radius);
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    background:var(--alt-color);
    height:42px;
    margin-bottom:8px;
    padding:0px 12px;
    color:var(--txt-color-grey);
    font-family:var(--big-font);
    font-style: var(--cerry-italic);
    font-size:1em;
    font-weight:var(--weight-regular);
    
}

/* ========================================
BOTTOM LEFT PANELS - VOICE AND PROFILE PANELS
==========================================*/
.panels_a4d4d9 {
    width:100%;
    padding:0;
    background:transparent !important;
}

/* game panel wrapper */
.activityPanel_b73e7a {
    background:transparent !important;
    border: 0px;
    margin:4px 0px; padding:0px;
}
/* game panel container */
.body_dc19cb {
    justify-content: flex-start;
}

/* game icon & title */
.gameWrapper_da7443 {
    background:var(--bg-color);
    padding:10px;
    border-radius: var(--br-l);
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    flex-grow:1;
}

/* game buttons list */
.actions_d57dc4 {
    min-height:54px;
}
/* game panel button */
.panelButtonContainer__0fb51 {

}
.panelButtonContainer__0fb51 > button.button_ae40a4 {
    background:var(--alt-color);
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    min-height:54px;
}
.panelButtonContainer__0fb51 > button.button_ae40a4:hover {
    background:var(--main-color);
    border:var(--cerry-border-hover);
    box-shadow: var(--cerry-boxsh-hover);
    min-height:54px;
}
.panelButtonContainer__0fb51 > button.button_ae40a4:last-child{border-radius: 0 var(--default-radius) var(--default-radius) 0;}


/* vc panel wrapper */
.wrapper_adcaac { margin:0; padding:0;}
.container_adcaac {
    background: transparent;
    padding:0;
    margin:4px 0px 4px;
    border:0px solid transparent;  
}
.connection_adcaac {
    background:var(--bg-color);
    padding:12px;
    box-shadow: var(--cerry-boxsh);
    border:var(--cerry-border);
    border-radius:var(--default-radius) var(--default-radius) 0 0px;
}
/* vc panel buttons */
.actionButtons_adcaac {
    grid-gap:4px;
}
.button_adcaac.buttonColor_adcaac {
    background:var(--alt-color);
    border-radius: 0;
    border: var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
}
.actionButtons_adcaac > .button_adcaac.buttonColor_adcaac:first-child {border-radius: 0 0 0 var(--default-radius);}
.actionButtons_adcaac  > div > .button_adcaac.buttonColor_adcaac {border-radius: 0 0 var(--default-radius) 0;}

.button_adcaac.buttonColor_adcaac:hover {
    background:var(--main-color);
    border-radius: 0;
    border: var(--cerry-border-hover);
    box-shadow: var(--cerry-boxsh-hover);
}
/* user profile container */
.container_b2ca13{ 
    flex-direction: column;
    height:80px;
    margin:-4px 0px 12px;
    padding:0px 0px 0px;
    background:transparent !important;
    border-radius:var(--default-radius) var(--default-radius) 0 0;
}
/* avatar & name + status container */
.avatarWrapper_b2ca13{
    margin:8px 0px 0px;
    padding:0px 4px;
    width:calc(100% - 8px);
    background: var(--alt-color);
    border-radius:var(--default-radius) var(--default-radius) 0 0;
    filter: var(--dropshadow);
    transition:var(--default-transition); 
    border:var(--cerry-border);
}
.avatarWrapper_b2ca13:hover { border-radius:var(--default-radius) var(--default-radius) 0 0; background: var(--main-color) !important; cursor:pointer;}

/* buttons container */
.container_b2ca13 div.flex_bba380 {
    display:grid; grid-template-columns: repeat(auto-fit,minmax(0,1fr)); grid-gap:4px;
    min-width:auto; width:calc(100% + 2px); 
    padding:0px 8px; margin-top:4px;
}
/* buttons */
.container_b2ca13 div.flex_bba380 button {
    background-color:var(--alt-color);
    border-radius: 0;
    height:28px;
    width:100%;
    box-shadow: var(--cerry-boxsh);
    border:var(--cerry-border);
    transition:var(--default-transition);
} 
.container_b2ca13 div.flex_bba380 button:hover {background-color:var(--main-color); border: var(--cerry-border-hover); box-shadow: var(--cerry-boxsh-hover);}
.container_b2ca13 div.flex_bba380 button:first-child {border-radius: 0 0 0 var(--default-radius); }
.container_b2ca13 div.flex_bba380 button:last-child {border-radius: 0 0 var(--default-radius) 0;}













/*
==============
MEMBER SIDEBAR
==============
*/

/* members list container */
.container_cbd271 {
    margin:4px 8px 0px 8px;
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    border-radius:var(--default-radius);
    background: var(--bg-color);
    position:relative;
    height:calc(100% - 12px); /* members go all the way down */


}
/* member categories */
.membersGroup_cbd271 {
    font-family: var(--big-font);
    font-style:var(--cerry-italic);
    font-weight:1000;
    font-size:14px;
    text-align:left;
    color:white;
    opacity:100;
    
    text-shadow:var(--txtshadow-tiny);
    display:block;
}
.layout_e9f61e {
    border:var(--cerry-border);
    border-radius:var(--default-radius);
    padding:0px 2px; margin:1px 2px;
    box-shadow: var(--cerry-boxsh);
    background:var(--alt-color);
    transition:var(--default-transition);
}
.clickable_e9f61e:hover .layout_e9f61e {
    box-shadow: var(--cerry-boxsh-hover);
    border:var(--cerry-border-hover);
    background:var(--main-color);
}.selected__7f4cb .layout_e9f61e {background:var(--main-color)}
/* username container */
.nameAndDecorators_e9f61e{
    margin-bottom:2px;
    overflow: visible;
    
}
.name_e9f61e, .username_de3235  {overflow: visible;}
.content_e9f61e {
    left:-10px;
    position:relative;
    overflow:visible;
}
/* username */
.username_de3235  {
    font-family: var(--big-font);
    font-style: var(--cerry-italic);
    font-weight:800;
    padding:0px 2px;
    font-size:20px;
    color:white;
    opacity:100;
    text-shadow:var(--txtshadow-tiny);
    top:0px;
    
} .name_c3d448 {overflow:visible;}
.avatar__6337f {
    /*
    border:3px solid var(--alt-color);
    outline: var(--cerry-border);
    z-index:1;
    */
    border-radius:50%;   
}
/* member status */
.px__7f04f.botTag__4211a {
    top:0px;
    color:white;
    background-color:rgba(255, 255, 255, 0.2);
    text-shadow:var(--txtshadow-tiny);
}


/*
=====================
PROFILE PANEL 
=====================
*/

/*== the big one in DMs ==*/
.userPanelInner_c69a7b, .userPanelInner_c69a7b::before, .userPanelOuter_c69a7b , .userPanelOuter_c69a7b, .none_ff9f86, .scrollerBase__65223  {border-radius: var(--default-radius);}
.userPanelOuter_c69a7b { border:var(--cerry-border); box-shadow: var(--cerry-boxsh);}
.userPanelOuter_c69a7b  {margin: 8px; padding: 0; height:auto;}


.overlayBackground__345c9, .clickableUsername_c32acf h2 {overflow:visible}
/* shared elements */
.clickableUsername_c32acf h2, .usernameRow_c32acf h1 {
    font-family: var(--big-font);
    text-shadow: var(--txtshadow);
    font-style: var(--cerry-italic);}
.clickableUsername_c32acf h2 {
    font-size:42px;
    font-weight:var(--weight-bold);
}
/* username for popups*/
.usernameRow_c32acf h1 {
    color: var(--override-dark-text);
    font-size:42px;
    overflow:visible;
    line-height: 1em;
} 
.biteSizeOuter_c69a7b .usernameRow_c32acf h1  {font-size:30px;}
.body_bc9cc2 {margin-top:-80px;}
.container_c32acf {margin-top:0px;}
.biteSizeOuter_c69a7b .container_c32acf {margin-top:-10px;}
.body_bc9cc2 .usernameRow_c32acf h1, .body_bc9cc2 .tags_c32acf  {padding-left:140px;}
.clickableUsername_c32acf h2 {padding-bottom:4px;}

.messageInputContainer_a93946 {border:0px;}
.input_f27786.focused__86d46, .input_f27786:focus {border-color:var(--hover-color)}

.userText_c26b46 .defaultColor__8610e, .userText_c26b46 .userTagUsername_c32acf .userTagUsernameBase__2bd24, .clickableUsername_c32acf h1 {
    color:var(--override-dark-text);
}

/* big popup card */
.root_bc9cc2, .fullSizeOuter_c69a7b, .userProfileModalInner_c69a7b, .userProfileModalInner_c69a7b:before  {border-radius: var(--default-radius);}
.fullSizeOuter_c69a7b {    border: var(--cerry-border); box-shadow: var(--cerry-boxsh);}

/* small popup card */
.userPopoutInner_c69a7b, .userPopoutInner_c69a7b::before, .biteSizeOuter_c69a7b, .profileEffects_f867f9 .inner_f867f9 {border-radius: var(--default-radius);}

.banner_c3e427 {border-radius: var(--br-t);}
.banner_c3e427::before {border-bottom:0px solid transparent;}


.layer_cd0de5   {
    border-radius: var(--default-radius);
    border: var(--cerry-border);
    box-shadow: var(--cerry-boxsh), 8px 8px 4px rgba(0, 0, 0, 0.6);
    padding:0;
}

/* banner */
.bannerSVGWrapper__8a38c {border-radius: var(--br-t);}





/*
=======================
FRIENDS LIST
=======================
*/
.tabBody_a90ea8:before {
    background:transparent;
    box-shadow:0px 0px;
}
/* search bar */
.searchBar__310d8 {
    background: var(--alt-color);
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    border-radius: var(--default-radius);
}
/* section title */
.container__43554 {
    font-family:var(--big-font);
    color:var(--txt-color);
    font-size:14px;
    font-weight: var(--weight-bold);
    font-style: var(--cerry-italic);
    text-shadow: var(--txtshadow-tiny);
    overflow:visible;

} .title_c42cad {margin:16px 20px 0px 30px;}
/* friend item wrapper */
.peopleListItem_dab480, .peopleListItem_dab480:hover, .peopleListItem_dab480.active__6b8ff {
    border:0px solid transparent;
    overflow:visible;
} .peopleListItem_dab480:hover > .actionButton__2b4bb {background:var(--alt-color);}
.peopleListItem_dab480:hover, .peopleListItem_dab480.active__6b8ff {
    background:transparent;
    /* background:var(--main-color);
    border:var(--cerry-border-hover);
    box-shadow: var(--cerry-boxsh-hover); */
}
.userInfo__83819 {
    flex-grow:1;
    background:var(--bg-color);
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    border-radius: var(--br-l);
    padding:4px 12px;
    transition: var(--default-transition);
} .userInfo__83819:hover {
    background:var(--main-color);
    border:var(--cerry-border-hover);
    box-shadow: var(--cerry-boxsh-hover);
}
/* friend list buttons */
.actionButton__2b4bb {
    background:var(--bg-color);
    border:var(--cerry-border);
    border-radius: var(--br-r);
    box-shadow: var(--cerry-boxsh);
    height:48px;
    width:48px;
    transition:var(--default-transition);
} .actionButton__2b4bb:hover {border:var(--cerry-border-hover); box-shadow: var(--cerry-boxsh-hover); background:var(--main-color)}
.actionButton__2b4bb:first-child {border-radius: 0; }
/* avatar */
.avatar__8986c {margin: 4px 12px 0px 0px;}

/* active now tab */
.nowPlayingColumn_b025fe {background:transparent;}
.container__3673d {background:transparent;}
.scroller__7c25e {border-left:0px transparent;}
/* header */
.container__3673d .header_c56a27 {
    font-family: var(--big-font);
    font-weight:var(--weight-bold);
    font-size:28px;
    text-shadow: var(--txtshadow);
    font-style: var(--cerry-italic);
}
/* active now types */
.itemCard_b64118 {
    border-radius: var(--default-radius);
    padding:8px 16px 12px;
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    transition:var(--default-transition);
    background-color:var(--bg-color);
} .itemCard_b64118:hover  {box-shadow: var(--cerry-boxsh-hover); border:var(--cerry-border-hover); }
.theme-dark .outer_a41cf3.interactive__46c44:hover, .theme-dark .outer_a41cf3.active__76f42
.theme-light .outer_a41cf3.interactive__46c44:hover, .theme-light .outer_a41cf3.active__76f42 {background-color:var(--main-color)}
.itemCard_b64118 .text-md-semibold__8664f { line-height:1em;}
.theme-dark .inset__61d5b, .theme-light .inset__61d5b {background:transparent;}
.section__253ec:only-child {
    border-radius: var(--default-radius);
}
/* it's quiet for now */
.emptyCard__204d9 {background: var(--bg-color);border:var(--cerry-border); box-shadow: var(--cerry-boxsh); border-radius:var(--default-radius);}



/*
======================
SEARCH BAR
======================
*/
.searchResultsWrap__2e184 {
    background-color:transparent;
    margin:0px 8px;
    overflow:visible;
}

.searchHeader__4d70e {
    background-color:var(--alt-color);
    /*
    border-top: 1px solid #000000;
    border-right: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-left: 1px solid #000000;
    */
    border: var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    border-radius: var(--br-t);
}

.scroller__5f036 {
    border-radius: var(--br-b);
    background-color: var(--bg-color);
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    margin-top:8px;
}

/*
=================================
OPTIONS
================================
*/
.standardSidebarView__12528 {background: var(--backdrop);}

.standardSidebarView__12528 > .sidebarRegion__36437 > .scrollerBase__65223 {
    background:var(--bg-color);
    border-radius: var(--default-radius);
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    padding:0px 0px;
    max-height: calc(100% - 40px);
    max-width:250px;
    margin:auto 8px;
}
.sidebar__02e8d {padding:40px 0px 0px 0px;}
.contentRegion__08eba {background:transparent;}
.contentRegionScroller__9ae20 {background:transparent;}

/* TODO only applies to "my account" */
.title__1b7e8, .contentColumn__5f80b > h2 {
    font-family: var(--big-font);
    font-size:32px;
    font-style: var(--cerry-italic);
    text-shadow: var(--txtshadow);
    font-weight: var(--weight-bold);
}
/* buttons */
.standardSidebarView__12528 .button__581d0 {
    border-radius: var(--default-radius);
    border: var(--cerry-border);
    box-shadow: var(--cerry-boxsh);;
}
/* input */
.input_f27786 {
    border-radius: var(--default-radius);
    padding:10px 15px;
    background: var(--alt-color);
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    color:var(--txt-color);
}
.separator_a0 {border-top:var(--cerry-divider);}

/* border at the bottom of profiles options */
.customizationSection__0f57e {border-bottom:var(--cerry-divider)}
/* smaller headers */
.h5__28baa, .label_bf6957, .legend__2459b { color:var(--txt-color);text-shadow: var(--txtshadow-tiny);}

/* subsections at the top */
.top_fae1fa .brand_ce3ecf.selected_a523ff.item__48dda { border-bottom-color:var(--main-color)}
.tabBar__22a9a {border-bottom:var(--cerry-divider)}
.top_fae1fa .item__48dda {
    font-family: var(--big-font);
    font-style: var(--cerry-italic);
    text-shadow: var(--txtshadow);
    overflow: visible;
    font-weight: var(--weight-bold);
    font-size:20px;
    padding:4px 8px;
}

/* that ugly nitro preview thing at the end of profiles */
.premiumFeatureBorder__6ac04 {
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    background: var(--alt-color);
}
.swatch__96672 {border-radius: var(--default-radius); border:var(--cerry-border); overflow:visible; box-shadow: var(--cerry-boxsh);}
.editPencilIcon_d2cfe5 {top:6px; right:6px;}

/* privacy & safety dropdowns */
#popout_2319 > .scrollerBase__65223, #popout_2320 > .scrollerBase__65223, #popout_2321 > .scrollerBase__65223 {
    border-radius:var(--br-b);
    max-width:calc(100% - (var(--default-radius)*2));
    margin:auto;
    top:-1px;
}
.lookFilled__9c1ef.select_fe2671 {
    border:var(--cerry-border);
    border-radius: var(--default-radius);
    
}

.itemFilled__5a849 {
    border:var(--cerry-border);
    box-shadow: var(--cerry-boxsh);
    transition:0.2s;
    border-radius:var(--default-radius);
}
.radioBar__70669 { border-radius:var(--default-radius)}
.itemFilled__5a849:hover:not([aria-checked=true]):not(.disabled_e23f76), .itemFilled__5a849[aria-checked=true] {background:var(--main-color);}
.itemFilled__5a849:hover:not([aria-checked=true]):not(.disabled_e23f76) {box-shadow:var(--cerry-boxsh-hover); border:var(--cerry-border-hover)}


/* TODO remove this from publishing */
/* in case its me! */
/*
div[aria-label="cerrytsuki"] > .userProfileOuterThemed_a425f3.userPopoutOuter_d67f56, div[aria-label="cerrytsuki"] > .userProfileOuterThemed_a425f3.biteSizeOuter_c69a7b , div[aria-label="cerrytsuki"] > .userProfileOuterThemed_a425f3.userProfileOuter__35e59  {
border-radius: 0;;
 border-image-slice: 16 42 7 5;
border-image-width: 16px 42px 7px 5px;
border-image-outset: 15px 5px 7px 5px;
border-image-repeat: stretch stretch;
border-image-source: url("data:image/webp;base64,UklGRv4AAABXRUJQVlA4TPIAAAAvSUASEG9AEEASwkAhjD3QOAbZRirCAR32IzzQGzyBIERPHDHfL/Mf4P8TAynBUTxkYNFQVHDjbJuiTL8VeoChpKOl1QM4VG6TrbUmWTkAdoBtcVu8pvbTQNbmpyaJ6D8Dt40UeRmO8Q1jAyAw6N0ACHtEgh4HN8Mw3g7LNZYM8ZSddjeE8Yzdd2V5we4FjtuwHwZxKhtRjHGElGRZzpMRx3E94kr4CxMtH0vLRNI5nTNpuJSSU1+cKILQuZ9ml+vVVTf1YhbU18eM+kqbUAezvUEZ3iYGdTBDlGH8zwnoBwHoVwMOzA+nMTZAAgLBIJACAQ==");
border-style: solid; 
    box-shadow:8px 8px 4px rgba(0, 0, 0, 0.6);

    
}

div[aria-label="cerrytsuki"] > .userProfileOuterThemed_a425f3.userPopoutOuter_d67f56 > .userPanelInner_c69a7b {
    border-radius:0;
}
*/