/**
 * @name PlumCherry [ALPHA]
 * @author CerryTsuki
 * @version ALPHA-2024.05.21
 * @description A bright, Y2K-lite inspired theme for Discord. Set your theme to default dark!
 */

@import url('https://raw.githubusercontent.com/CerryTsuki/PlumCherry/main/version/current.css');

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

/* these are CSS variables, and as such use CSS values. if something's broken, make sure you don't have any typos in your values. */
:root {
    /* customizable variables */

    /* fonts */
    --default-font: 					gg sans, sans-serif;
    --big-font: 						Sofia Sans Extra Condensed, sans-serif;

    --weight-regular:					400;
    --weight-bold:						800;
    --weight-thin:						200;

    /* colors */
    --main-color:       				rgb(228, 33, 98); /* pick a nice bright color! */
    --alt-color:        				rgb(76, 19, 109); /* preferably darker than main-color */
    --success-color:    				rgb(33, 228, 98);
    --danger-color:     				rgb(146, 12, 12);
    --bg-color:         				rgba(20, 10, 25, 0.7);
    --bg-color-opaque:  				rgb(20, 10, 25);

    --hover-color: 						rgb(255, 255, 255); 
    --active-color:     				rgba(255, 255, 255, 1);
    --inactive-color:   				rgb(255, 255, 255);

    --txt-color:        				rgba(255, 255, 255, 1);
    --txt-color-alt:    				rgb(216, 185, 200);
    --txt-color-grey:   				rgba(166, 142, 175, 1);
    --link-color:       				rgb(0, 0, 255);

    --shadow-color:        			rgb(0, 0, 0);
    --shadow-color-active: 				rgb(255, 255, 255);

    /* font adjustments */
    --username-offset:      			0px;
    --username-fontsize:    			24px;
    --username-weight:      			var(--weight-bold);

    --date-y-offset:        			-2px;
    --date-x-offset:   					0px;
    --date-fontsize:        			12px;
    --date-weight:          			var(--weight-bold);

    /* do you want headers to be italicized? */
    --cerry-italic:         italic;

    /* element adjustments */
        /* username box in messages */
        --username-box-bg:          	var(--main-color);
        --username-box-shadow:      	var(--cerry-boxsh);
        --username-box-width:      	700px;
        --username-box-txtoffset:   	8px;
        --username-box-extendleft:  	26px; /* the box is shifted a bit to the left in order to look like it comes from behind the avatar*/
        --avatar-border:            	3px solid var(--main-color);
        --avatar-size:              	48px;


    /* animation speed for some interactions */
    --default-transition:      		0.2s;


	/* background */
    --backdrop:            			linear-gradient(135deg, rgba(187,60,123,1) 0%, rgba(47,19,126,1) 100%);
    --backdrop-position:    			center;
    --backdrop-attachment:  			fixed;
    --backdrop-repeat:      			repeat;
    --backdrop-size: ;
    --backdrop-filter:      			blur(2px); /* unused for now */

    --default-radius:       			20px;

    --br-l: 							var(--default-radius) 0 0 var(--default-radius);
    --br-r: 							0 var(--default-radius) var(--default-radius) 0;
    --br-t: 							var(--default-radius) var(--default-radius) 0 0;
    --br-b: 							0 0 var(--default-radius) var(--default-radius);

	/* other variables */
    --txtshadow:      					1px 1px var(--shadow-color), 
										-1px 1px var(--shadow-color), 
										-1px -1px var(--shadow-color), 
										1px -1px var(--shadow-color), 
										2px 2px var(--shadow-color), 
										3px 3px var(--shadow-color);
										
    --txtshadow-tiny: 					1px 1px var(--shadow-color), 
										-1px 1px var(--shadow-color), 
										-1px -1px var(--shadow-color), 
										1px -1px var(--shadow-color),
										2px 2px var(--shadow-color);
										
    --dropshadow: 						drop-shadow(2px 2px  var(--shadow-color));

    --cerry-boxsh: 						2px 2px var(--shadow-color);
    --cerry-boxsh-hover: 				2px 2px var(--shadow-color-active); 

    --cerry-border: 					1px solid var(--shadow-color);
    --cerry-border-hover: 				1px solid var(--shadow-color-active);

    --cerry-divider:					1px solid var(--alt-color);

	/* unused for now */
    --header-pos-offset:0px; 

    /* discord defaults override (changing these might break the theme)*/
    --background-secondary:var(--bg-color); --bg-overlay-chat:transparent; 
    --interactive-hover: var(--hover-color); --interactive-active: var(--active-color); --interactive-normal:var(--inactive-color);
    --invisible : rgba(0,0,0,0);
    --brand-experiment:var(--main-color);
    --input-background:var(--bg-color);
}
